#head {
    text-align: center;
    font-size: 10vh;
}

#names {
    text-align: center;
    font-size: 5vh;
}

@media only screen and (max-height: 1440px) {
    .container{
        height: 1050px;
    }
}

@media only screen and (max-height: 1080px) {
    .container{
        height: 700px;
    }
}

.container {
    width: 49%;
    overflow: hidden;
    padding: 0.5%;
}

.container-controls {
    width: 49%;
    overflow: hidden;
    padding: 0.5%;
}

.map-container {
    height: 100%;
}

#control-wrapper{
}

#control-container{
    overflow: hidden;
}

#control-container-empty{
    float: left;
}

#graph {
    background-color: #343332;
}

#map-container{
    float: left;
}

#graph-container {
    overflow: hidden;
}

body {
    color: white;
    font-family: Verdana, serif;
    background-color: #2f2f2f;
}

.grid-size {
    display: inline
}

.loader {
    height: 0.8em;
    width: 0.8em;
    display: inline;
    border: 0.2em solid #f3f3f3;
    border-radius: 50%;
    border-top: 0.2em solid #3498db;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

.flex {
    display: flex;
    align-items: center;
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

#spinner {
    visibility: hidden;
}

.stop-scrolling{
    height: 100%;
    overflow: hidden;
}

.slide{
    display: table;
    height: 90vh;
    width: 90%;
    padding: 5%;

}

.slide-header{
    font-size: 5vh;
}

.slide-content{
    padding-top: 5%;
    font-size: 2.5vh;
}

.vertical-center {
    display: table-cell;
    vertical-align: middle;
}

#first-slide{
    background-image: url("/static/imgs/freiburg.png");
    background-size: 100vh;
    background-position: 15% 0%;
    background-repeat: no-repeat;
}

#second-slide{
    background-image: url("/static/imgs/PaperOverview.png");
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: 100% 60%;
}

#third-slide{
    background-image: url("/static/imgs/InputEdgeOrdering.png");
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: 40% 70%;
}

#fourth-slide{
    background-image: url("/static/imgs/EdgeRouting.png");
    background-size: 35%;
    background-repeat: no-repeat;
    background-position: 40% 80%;
}

#sixth-slide{
    background-image: url("/static/imgs/python.png"), url("/static/imgs/networkx.png"), url("/static/imgs/leaflet.png"), url("/static/imgs/htmljscss.png");
    background-size: 7%, 10%, 20%, 15%;
    background-repeat: no-repeat;
    background-position: 50% 20%, 60% 40%, 80% 20%, 80% 40%;
}
a:link{
    color: green;
}

a:visited{
    color:darkgreen;
}

li{
    margin-bottom: 2vh;
    margin-top: 2vh;
}

.centered_img {
    width: 60%;
}

ul {
    list-style-type: '- ';
}