#head {
    text-align: center;
    font-size: 2em;
}

#names {
    text-align: center;
    font-size: 1em;
}

#map-label {
    text-align: left;
    font-size: 1em;
}

.container {
    width: 49%;
    height: 1000px;
    top: 3cm;
    position: absolute;
}

.map-container {
    height: 100%;
}

#map {

}

#graph {
    background-color: #343332;
}

#graph-container {
    left: 50.5%;
}

body {
    color: white;
    font-family: Verdana, serif;
    background-color: #2f2f2f;
}
