<!DOCTYPE html>
<meta charset="UTF-8">
<head>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    <!-- leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
            crossorigin=""></script>
    <!-- leaflet map syncer -->
    <script type="text/javascript" src="{{ url_for('static', filename='L.Map.Sync.js') }}"></script>
    <!-- leaflet polyline offset plugin -->
    <script type="text/javascript" src="{{ url_for('static', filename='leaflet.polylineoffset.js') }}"></script>
    <!-- proj4j -->
    <script type="text/javascript" src="{{ url_for('static', filename='proj4.js') }}"></script>
</head>

<body>
<div id="head">Fancy Metro Maps</div>
<div id="names">
    Moritz Roth - 1633060 <br>
    Tom Lautenbach - 12044805
</div>
<div id="map-label">Input Data: Undirected Graph of Stations and Lines</div>
<div id="map-container" class="container">
    <div id="map" class="map-container"></div>
</div>
<div id="graph-container" class="container">
    <div id="graph" class="map-container"></div>
    <div>
        Map overlay:
        <input type="radio" id="map-overlay-on" name="map-overlay" value="on"> <label for="map-overlay-on">On</label>
        <input type="radio" id="map-overlay-off" name="map-overlay" value="off" checked="checked"> <label for="map-overlay-off">Off</label>
        <br>
        City:
        <select id="select-city">
            <option value="freiburg">Freiburg</option>
            <option value="stuttgart">Stuttgart</option>
            <option value="newyork">New York</option>
        </select>
        Data source:
        <input type="radio" id="realtime-calculation-on" name="data-source" value="on"> <label for="realtime-calculation-on">Real-Time Calculation</label>
        <input type="radio" id="realtime-calculation-off" name="data-source" value="off" checked="checked"> <label for="realtime-calculation-off">Precalculated JSON</label>
        <br>
        <button id="calculate-button" onclick="drawMetroGraph()">Show</button>
    </div>
</div>
<script type="text/javascript" src="{{ url_for('static',filename='frontend.js') }}"></script>
</body>