<!DOCTYPE html>
<meta charset="UTF-8">
<head>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    <!-- leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
            crossorigin=""></script>
    <!-- leaflet map syncer -->
    <script type="text/javascript" src="{{ url_for('static', filename='L.Map.Sync.js') }}"></script>
    <!-- leaflet polyline offset plugin -->
    <script type="text/javascript" src="{{ url_for('static', filename='leaflet.polylineoffset.js') }}"></script>
    <!-- proj4j -->
    <script type="text/javascript" src="{{ url_for('static', filename='proj4.js') }}"></script>
    <!-- leaflet bigimage -->
    <link rel="stylesheet" href="{{ url_for('static',filename='Leaflet.BigImage.css') }}">
    <script src="{{ url_for('static',filename='Leaflet.BigImage.js') }}"></script>
</head>

<body class="stop-scrolling">
{#<body>#}
<div id="first-slide" class="slide">
    <div class="vertical-center">
        <div id="head">Fancy Metro Maps</div>
        <div id="names">
            Moritz Roth - 1633060 <br>
            Tom Lautenbach - 12044805
        </div>
    </div>
</div>
<div id="second-and-a-half-slide" class="slide">
    <div class="vertical-center">
        <div style="display: flex;justify-content: center;">
            <img src="/static/imgs/concept_album/1.png" class="centered_img" style="display: inherit" id="concept1" onclick="document.getElementById('concept1').style.display = 'none';document.getElementById('concept2').style.display = 'inherit';">
            <img src="/static/imgs/concept_album/2.png" class="centered_img" style="display: none"    id="concept2" onclick="document.getElementById('concept2').style.display = 'none';document.getElementById('concept3').style.display = 'inherit';">
            <img src="/static/imgs/concept_album/3.png" class="centered_img" style="display: none"    id="concept3" onclick="document.getElementById('concept3').style.display = 'none';document.getElementById('concept1').style.display = 'inherit';">
        </div>
    </div>
</div>
<div id="second-slide" class="slide">
    <div class="slide-header">
        The Paper: <a href="https://www.researchgate.net/publication/343051484_Metro_Maps_on_Octilinear_Grid_Graphs">Metro Maps on Octilinear Grid Graphs</a>
    </div>
    <div class="slide-content">
        <ul>
            <li>Find Solution for Metro Map Generation, octilinear</li>
            <li>Integer Linear Program (Optimal Solution)</li>
            <li>Approximation Algorithm (faster) - our Implementation</li>
        </ul>
        <b>The Approximation Algorithm</b>
{#        <ol>#}
{#            <li>Order the input graph edges</li>#}
{#            <li>Calculate shortest path from possible start nodes to possible end nodes on grid graph</li>#}
{#            <li>If no Drawing found: Randomize Edge Ordering</li>#}
{#            <div style="color: gray">#}
{#                <li>Optimize Drawing via Local Search</li>#}
{#            </div>#}
{#        </ol>#}
    </div>
</div>
<div id="second-and-three-quarters-slide" class="slide">
    <div class="vertical-center">
        <div style="display: flex;justify-content: center;">
            <img src="/static/imgs/aux_album/1.png" class="centered_img" style="display: inherit" id="aux_graph1" onclick="document.getElementById('aux_graph1').style.display = 'none';document.getElementById('aux_graph2').style.display = 'inherit';">
            <img src="/static/imgs/aux_album/2.png" class="centered_img" style="display: none"    id="aux_graph2" onclick="document.getElementById('aux_graph2').style.display = 'none';document.getElementById('aux_graph3').style.display = 'inherit';">
            <img src="/static/imgs/aux_album/3.png" class="centered_img" style="display: none"    id="aux_graph3" onclick="document.getElementById('aux_graph3').style.display = 'none';document.getElementById('aux_graph4').style.display = 'inherit';">
            <img src="/static/imgs/aux_album/4.png" class="centered_img" style="display: none"    id="aux_graph4" onclick="document.getElementById('aux_graph4').style.display = 'none';document.getElementById('aux_graph5').style.display = 'inherit';">
            <img src="/static/imgs/aux_album/5.png" class="centered_img" style="display: none"    id="aux_graph5" onclick="document.getElementById('aux_graph5').style.display = 'none';document.getElementById('aux_graph6').style.display = 'inherit';">
            <img src="/static/imgs/aux_album/6.png" class="centered_img" style="display: none"    id="aux_graph6" onclick="document.getElementById('aux_graph6').style.display = 'none';document.getElementById('aux_graph7').style.display = 'inherit';">
            <img src="/static/imgs/aux_album/7.png" class="centered_img" style="display: none"    id="aux_graph7" onclick="document.getElementById('aux_graph7').style.display = 'none';document.getElementById('aux_graph8').style.display = 'inherit';">
            <img src="/static/imgs/aux_album/8.png" class="centered_img" style="display: none"    id="aux_graph8" onclick="document.getElementById('aux_graph8').style.display = 'none';document.getElementById('aux_graph9').style.display = 'inherit';">
            <img src="/static/imgs/aux_album/9.png" class="centered_img" style="display: none"    id="aux_graph9" onclick="document.getElementById('aux_graph9').style.display = 'none';document.getElementById('aux_graph1').style.display = 'inherit';">
        </div>
    </div>
</div>
<div id="second-and-seven-eights-slide" class="slide">
    <div class="slide-header">
        The Approximation Algorithm - Edge Routing and Station Placement
    </div>
    <div class="slide-content">
        establish edge ordering: edges in denser areas of the network are processed earlier<br>
        create empty octilinear grid graph <b>O</b> and corresponding auxiliary graph <b>A</b><br>
        <br><br>
        use edge ordering to iterate over edges; for each edge:
        <ul>
            <li>find candidate nodes for start and endpoint (two disjoint sets <b>S</b>, <b>T</b>)</li>
            <div style="color: gray"><li>make temporary changes to <b>A</b> edge costs</li></div>
            <li>find cheapest path <b>S</b> &#8594; <b>T</b> using A*</li>
            <div style="color: gray"><li>undo temporary changes to <b>A</b> edge costs</li></div>
            <li>make permanent changes to <b>A</b> edge costs</li>
        </ul>
    </div>
</div>
<div id="third-slide" class="slide">
    <div class="slide-header">
        The Approximation Algorithm - Input Edge Ordering
    </div>
    <div class="slide-content">
{#        <ol>#}
{#            <li>Mark Node with highest LDEG as dangling</li>#}
{#            <li>While there are dangling nodes: Add all adjacent edges leading to an unprocessed node to the edge ordering</li>#}
{#            <li>Mark each just added node as dangling, the just processed node as processed</li>#}
{#        </ol>#}
    </div>
</div>
<div id="sixth-slide" class="slide">
    <div class="slide-header">
        Our Implementation - Technology
    </div>
    <div class="slide-content">
        <div>Back-End: Python</div>
        <ul>
            <li>NetworkX Graph Library</li>
            <li>Flask Web Server</li>
        </ul>
        Front-End: HTML/JS/CSS
        <ul>
            <li>Leaflet Maps Library</li>
        </ul>
        Data: Pulled from various Public Transport Providers, JSON
    </div>
</div>
<div id="seventh-slide" class="slide">
    <div class="slide-header">
        Our Implementation - Back-End
    </div>
{#    <div class="slide-content">#}
{#        <div>Python + Flask</div>#}
{#        <ol>#}
{#            <li>Load the Data from JSON into a NX Graph</li>#}
{#            <li>Build NX Octilinear Graph in required Size</li>#}
{#            <li>Order the Edges</li>#}
{#            <li>Route the Edges and their Stations</li>#}
{#            <li>Convert NX Graph to JSON and dispatch to Front-End</li>#}
{#        </ol>#}
{#    </div>#}
</div>
<div id="eighth-slide" class="slide">
    <div class="slide-header">
        Our Implementation - Front-End
    </div>
{#    <div class="slide-content">#}
{#        <div>Web-Stack + Leaflet</div>#}
{#        <ol>#}
{#            <li>Set up two Maps</li>#}
{#            <li>Request JSON Graph and unchanged Map from Back-End</li>#}
{#            <li>Iterate through JSONs, convert all Web Mercator Coordinates to WGS84</li>#}
{#            <li>Place all Stations and all Lines</li>#}
{#        </ol>#}
{#        <ul>#}
{#            <li>Station Hovering is linked</li>#}
{#            <li>User can request different Grid Resolutions</li>#}
{#            <li>User can choose between precalculated and live Graphs</li>#}
{#            <li>User can select City to show</li>#}
{#        </ul>#}
{#    </div>#}
</div>
<div id="nineth-slide" class="slide">
    <div class="slide-header">
        Reference
    </div>
    <div class="slide-content">
        <a href="https://www.researchgate.net/publication/343051484_Metro_Maps_on_Octilinear_Grid_Graphs">Bast, Hannah & Brosi, Patrick & Storandt, Sabine. (2020). Metro Maps on Octilinear Grid
            Graphs. Computer Graphics Forum. 39. 357-367. 10.1111/cgf.13986.</a>
    </div>
</div>
<div id="final-slide">
    <div id="map-container" class="container">
        <div id="map" class="map-container"></div>
    </div>

    <div id="graph-container" class="container">
        <div id="graph" class="map-container"></div>
    </div>
    <div class="container-controls" id="control-container-empty"></div>
    <div class="container-controls" id="control-container">
        Map overlay:
        <input type="radio" id="map-overlay-on" name="map-overlay" value="on"> <label for="map-overlay-on">On</label>
        <input type="radio" id="map-overlay-off" name="map-overlay" value="off" checked="checked"> <label for="map-overlay-off">Off</label>
        <br>
        City:
        <select id="select-city">
            <option value="freiburg">Freiburg</option>
            <option value="stuttgart">Stuttgart</option>
            <option value="newyork">New York</option>
            <option value="wien">Vienna</option>
            <option value="chicago">Chicago</option>
            <option value="sydney">Sydney</option>
            <option value="berlin">Berlin</option>
        </select>
        <br>
        Data source:
        <input type="radio" id="realtime-calculation-on" name="data-source" value="on"> <label for="realtime-calculation-on">Real-Time Calculation</label>
        <input type="radio" id="realtime-calculation-off" name="data-source" value="off" checked="checked"> <label for="realtime-calculation-off">Precalculated JSON</label>
        <br>
        <div id="grid-size-div" class="grid-size">Grid Resolution:</div>
        <input type="number" class="grid-size" id="grid-size-input" value="75">
        <br class="grid-size">
        <div class="flex">
            <button id="calculate-button" onclick="drawMetroGraph()">Show</button>
            <div class="loader" id="spinner"></div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{{ url_for('static',filename='frontend.js') }}"></script>
</body>